@use '../abstracts/palettes' as *;
@use '../abstracts' as *;

.grid-control {
	grid-area: control;
	aspect-ratio: 1/1;

	display: grid;
	grid-template-columns: repeat(3, 33.33333%);
	grid-template-rows: repeat(3, 33.33333%);
	grid-template-areas:
		'discard3	discard3	discard2'
		'discard4	counter		discard2'
		'discard4	discard1	discard1';
}

@mixin control-player($p) {
	grid-area: $p;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 0.1rem;
}

.control-player4 {
	@include control-player(discard1);
}

.control-player1 {
	@include control-player(discard2);
	transform: translate(-25%, 50%) rotate(270deg);
	width: 200%;
	height: 50%;
}

.control-player2 {
	@include control-player(discard3);
	transform: rotate(180deg);
}

.control-player3 {
	@include control-player(discard4);
	transform: translate(-25%, 50%) rotate(90deg);
	width: 200%;
	height: 50%;
}

.control-counter {
	grid-area: counter;

	display: grid;
	grid-template-columns: repeat(3, 33.33333%);
	grid-template-rows: repeat(3, 33.33333%);
	grid-template-areas:
		'wind2	drop2	wind1'
		'drop3	tiles	drop1'
		'wind3	drop4	wind4';
	align-items: center;
	justify-content: center;
	justify-items: center;
	font-size: max(2vmin, $minsize);
	color: $gray-10;
	border: $border;
	text-shadow: 1px 1px 2px $tertiary-3;
}

.control-wind1 {
	grid-area: wind1;
	transform: rotate(270deg);
}

.control-wind2 {
	grid-area: wind2;
	transform: rotate(180deg);
}

.control-wind3 {
	grid-area: wind3;
	transform: rotate(90deg);
}

.control-wind4 {
	grid-area: wind4;
}

.control-drop1 {
	grid-area: drop1;
	transform: rotate(270deg);
}

.control-drop2 {
	grid-area: drop2;
	transform: rotate(180deg);
}

.control-drop3 {
	grid-area: drop3;
	transform: rotate(90deg);
}

.control-drop4 {
	grid-area: drop4;
}

.control-tiles {
	grid-area: tiles;
}

.wind {
	width: max(4vmin, 1.5rem);
	filter: drop-shadow(1px 1px 3px $white);
}

.prevailing {
	filter: invert(1) drop-shadow(1px 1px 5px $black);
}

.banker {
	filter: drop-shadow(2px 2px 4px $white) drop-shadow(-2px -2px 4px $tertiary-1);
}

.sort {
	position: absolute;
	bottom: max(5vmin, 2rem);
	right: max(2vmin, 0.5rem);

	width: max(3vmin, 1rem);
	filter: invert(100);
}
