@use '../abstracts/palettes' as *;
@use '../abstracts' as *;

.tile>img {
	height: max(4.2vmin, 1rem);
	width: auto;
}

.break {
	content: '';
	height: 0;
	flex-basis: 100%;
}

.meld-end {
	margin-right: 1vmin;
}

.wrap {
	display: flex;
	flex-flow: wrap;
}
