@use '../abstracts/palettes' as *;
@use '../abstracts' as *;

.tile>img {
	height: max(4.2vmin, 1rem);
	width: auto;
}

.r0>img {
	box-shadow: 4px 4px 2px 0px $shadow;
}

.r90>img {
	box-shadow: 4px -4px 2px 0px $shadow;
}

.r180 {
	&>img {
		box-shadow: 0 -4px 2px 0px $shadow;
	}

	&>img:first-child {
		box-shadow: -4px -4px 2px 0px $shadow,
			4px -4px 2px 0px $shadow;
	}

	&>img:only-child {
		box-shadow: -4px -4px 2px 0px $shadow;
	}
}

.r270 {
	&>img {
		box-shadow: 0 4px 2px 0px $shadow;
	}

	&>img:first-child {
		box-shadow: -4px 4px 2px 0px $shadow,
			4px 4px 2px 0px $shadow;
	}

	&>img:only-child {
		box-shadow: -4px 4px 2px 0px $shadow;
	}
}

.meld-end {
	margin-right: 1vmin;
}

.wrap {
	display: flex;
	flex-flow: wrap;
}
