@use '../abstracts' as *;
@use '../abstracts/palettes' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

html {
	background-color: $background-color;
	color: $foreground-color;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	hyphens: none;
	font-family: neue, sans-serif;
	font-size: max(1vmin, 1rem);
}

html, body
{
    font-size: 100%; /* equivalent to 16px */
}

p {
	text-wrap: balance;
}

main {
	padding: 1vmin;
}

h1 {
	font-size: max(2.4vmin, 1.7rem);
	line-height: max(3.5vmin, 2.5rem);
	color: $header-foreground-color;
}

h2 {
	font-size: max(2vmin, 1.4rem);
	line-height: max(3vmin, 2rem);
}

h3 {
	font-size: max(1.8vmin, 1.3rem);
	line-height: max(2.8vmin, 1.8rem);
}

h4 {
	font-size: max(1.6vmin, 1.2rem);
	line-height: max(2.6vmin, 1.6rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $title-color;
}

p {
	font-size: max(1vmin, 1.2rem);
}

ol,
ul {
	padding-left: 1.2rem;
}

a {
	color: $foreground-color;
}

* a,
* a:link,
* a:visited,
* a:hover {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100% !important;
	max-height: 100%;
	height: auto;

	&:not([alt]) {
		outline: $developer 4px dashed !important;
	}
}

hr {
	border: 0;
	height: 1px;
	background-color: $border-color;
	margin: 1rem 0;
}
