@use '../abstracts' as *;

header {
	position: sticky;
	top: 0;
	z-index: 2000;

	height: max(5vmin, 50px);
	width: 100%;

	color: $header-foreground-color;

	background: url('#{$img}/tiles/zipai-fengpai-1-dong.svg');
	background-color: $header-background-color;
	background-size: max(3vmin, 25px);
	background-repeat: no-repeat;
	background-position: left 7px top 7px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;

	padding: 0.5rem 0.2rem;
}
