@use '../abstracts/palettes' as *;
@use '../abstracts' as *;

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.justify {
	float: right;
}

.small {
	font-size: max(0.8vmin, 1rem);
	line-height: max(1.4vmin, 1rem);
}

.middle {
	display: grid;
	place-items: center;
}

.columns {
	columns: auto 30rem;
	column-gap: 2rem;
	border-bottom: thin dotted $tertiary-3;
	column-rule: thin dotted $tertiary-3;
	padding: 1rem;

	& p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	ul {
		padding-bottom: 1rem;
	}
}
