@use '../abstracts/palettes' as *;
@use '../abstracts' as *;

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.justify {
	float: right;
}

.small {
	font-size: max(0.8vmin, 0.8rem);
	line-height: max(1.4vmin, 1rem);
}

.middle {
	display: grid;
	place-items: center;
}

.meld-overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: $overlay;

	z-index: 100;
}

.meld-contents {
	position: absolute;
	bottom: max(5vmin, 50px);
	right: 0;

	width: fit-content;
	height: fit-content;

	padding: 1rem;
	text-align: center;

	cursor: grab;

	&>p img {
		cursor: pointer;
	}

	&:active {
		cursor: grabbing;
	}

	background-color: $overlay;
	border: $border;

	z-index: 110;
}

.meld {
	height: max(6vmin, 1.8rem);
	width: auto;
}

.meld-set {
	background-color: $tertiary-2;
	border: $border;
	padding: 0.5vmin 0.5vmin 0;
	margin: 0.5vmin auto;
	width: fit-content;
}
