@use '../abstracts' as *;
@use '../abstracts/palettes' as *;

@font-face {
	font: {
		family: neue;
		style: normal;
		weight: normal;
	}

	src: local('Helvetica Neue Regular'),
	local('Helvetica Regular');
	font-display: swap;
}

@font-face {
	font: {
		family: neue-italic;
		style: italic;
		weight: normal;
	}

	src: local('Helvetica Neue Italic'),
	local('Helvetica Oblique');
	font-display: swap;
}

@font-face {
	font: {
		family: neue-bold;
		style: normal;
		weight: bold;
	}

	src: local('Helvetica Neue Bold'),
	local('Helvetica Bold');
	font-display: swap;
}

@font-face {
	font: {
		family: neue-bolditalic;
		style: italic;
		weight: bold;
	}

	src: local('Helvetica Neue Bold Italic'),
	local('Helvetica Bold Oblique');
	font-display: swap;
}

@font-face {
	font: {
		family: chinese;
		style: normal;
		weight: normal;
	}

	src: url('font/NotoSansSC-Regular-subset.woff2') format('woff2');
	unicode-range: U+4E00-9FFF;
	font-display: swap;
}

@font-face {
	font: {
		family: majiang;
		style: normal;
		weight: normal;
	}

	src: url('font/NotoSansSymbols2-Regular-subset.woff2') format('woff2');
	size-adjust: 120%;
	unicode-range: U+1F000-1F02F;
	font-display: swap;
}

body {
	font-family: neue, chinese, majiang, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: neue-bold, chinese, majiang, sans-serif;
}

em,
figcaption {
	font-family: neue-italic, chinese, majiang, sans-serif;
	color: $secondary-1;
}

strong,
th {
	font-family: neue-bold, chinese, majiang, sans-serif;
	color: $secondary-1;
}

em strong,
strong em {
	font-family: neue-bolditalic, chinese, majiang, sans-serif;
}
