@use '../abstracts/variables' as *;
@use '../abstracts/palettes' as *;

button {
	color: $white;
	background-color: $tertiary-4;
	text-decoration: none;
	font-size: max(2vw, 1.4rem);
	border: medium solid $black;
	border-radius: 0.5rem;
	padding: 1rem;
	font-family: neue-bold, sans-serif;
	cursor: pointer;
}

button:hover {
	background-color: $gray-65;
}

button:active {
	background-color: $gray-15;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
	display: none;
}
