/* base theme */

$primary-1: #338669;
$primary-2: #1b6f51;
$primary-3: #08563a;
$primary-4: #003c27;
$primary-5: #002216;

$secondary-1: #c7954d;
$secondary-2: #a57229;
$secondary-3: #80510c;
$secondary-4: #593500;
$secondary-5: #331e00;

$tertiary-1: #b64662;
$tertiary-2: #972542;
$tertiary-3: #750b26;
$tertiary-4: #510014;
$tertiary-5: #2e000c;

/* gray shades */

$white: hsl(0deg 0% 100%);
$gray-05: hsl(0deg 0% 95%);
$gray-10: hsl(0deg 0% 90%);
$gray-15: hsl(0deg 0% 85%);
$gray-20: hsl(0deg 0% 80%);
$gray-25: hsl(0deg 0% 75%);
$gray-30: hsl(0deg 0% 70%);
$gray-35: hsl(0deg 0% 65%);
$gray-40: hsl(0deg 0% 60%);
$gray-45: hsl(0deg 0% 55%);
$gray-50: hsl(0deg 0% 50%);
$gray-55: hsl(0deg 0% 45%);
$gray-60: hsl(0deg 0% 40%);
$gray-65: hsl(0deg 0% 35%);
$gray-70: hsl(0deg 0% 30%);
$gray-75: hsl(0deg 0% 25%);
$gray-80: hsl(0deg 0% 20%);
$gray-85: hsl(0deg 0% 15%);
$gray-90: hsl(0deg 0% 10%);
$gray-95: hsl(0deg 0% 5%);
$black: hsl(0deg 0% 0%);

$shadow: rgba(0, 0, 0, 0.75);
$darken: rgba(0, 0, 0, 0.3);
