/* base theme */

$primary-1: #338669;
$primary-2: #1B6F51;
$primary-3: #08563A;
$primary-4: #003C27;
$primary-5: #002216;

$secondary-1: #C7954D;
$secondary-2: #A57229;
$secondary-3: #80510C;
$secondary-4: #593500;
$secondary-5: #331E00;

$tertiary-1: #B64662;
$tertiary-2: #972542;
$tertiary-3: #750B26;
$tertiary-4: #510014;
$tertiary-5: #2E000C;

$tile-blue: #0d74ff;

/* gray shades */

$white: hsl(0deg 0% 100%);
$gray-05: hsl(0deg 0% 95%);
$gray-10: hsl(0deg 0% 90%);
$gray-15: hsl(0deg 0% 85%);
$gray-20: hsl(0deg 0% 80%);
$gray-25: hsl(0deg 0% 75%);
$gray-30: hsl(0deg 0% 70%);
$gray-35: hsl(0deg 0% 65%);
$gray-40: hsl(0deg 0% 60%);
$gray-45: hsl(0deg 0% 55%);
$gray-50: hsl(0deg 0% 50%);
$gray-55: hsl(0deg 0% 45%);
$gray-60: hsl(0deg 0% 40%);
$gray-65: hsl(0deg 0% 35%);
$gray-70: hsl(0deg 0% 30%);
$gray-75: hsl(0deg 0% 25%);
$gray-80: hsl(0deg 0% 20%);
$gray-85: hsl(0deg 0% 15%);
$gray-90: hsl(0deg 0% 10%);
$gray-95: hsl(0deg 0% 5%);
$black: hsl(0deg 0% 0%);

$shadow: rgba(0, 0, 0, 0.75);
